USE [NHSKPI]

GO

/****** Object:  Table [dbo].[tblHospital]    Script Date: 10/18/2014 12:28:10 ******/
SET IDENTITY_INSERT [dbo].[tblHospital] ON
INSERT [dbo].[tblHospital] ([Id], [Name], [Code], [Address], [PhoneNumber], [LogoPath], [IsActive], [Type]) VALUES (1, N'Buckinghamshire Healthcare', N'BUCKS', N'Amesham Hospital', N'07852302205', NULL, 1, N'NHS Trust')
INSERT [dbo].[tblHospital] ([Id], [Name], [Code], [Address], [PhoneNumber], [LogoPath], [IsActive], [Type]) VALUES (4, N'Bradford', N'TAD', NULL, NULL, NULL, 1, N'District Care Trust')
INSERT [dbo].[tblHospital] ([Id], [Name], [Code], [Address], [PhoneNumber], [LogoPath], [IsActive], [Type]) VALUES (5, N'Northern Lincolnshire And Goole', N'RJL', NULL, NULL, NULL, 1, N'NHS Foundation Trust')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[tblHospital] OFF

GO
/****** Object:  StoredProcedure [dbo].[uspHospitalViewAll]    Script Date: 10/15/2014 10:23:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************
Purpose:	View All the Hospitals
Author:		K.Piragalathan
***************************************************************************/
Create PROCEDURE [dbo].[uspHospitalViewAll] 
AS
BEGIN
	SELECT
	Id, 
	Name, 
	Code, 
	Address, 
	PhoneNumber, 
	LogoPath, 
	IsActive
	FROM dbo.tblHospital	
END

