<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RemidersEmailGroup" value="reminders@nhs.org"/>
    <add key="EscallationEmailGroup" value="escallation@nhs.org"/>
    <add key="ReminderDates" value="15,20,25"/>
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="NetworkCredentialUserName" value="innovobrian@gmail.com" />
    <add key="NetworkCredentialPassword" value="1qaz2wsx@" />
    <add key="EmailFrom" value="ironfistet@gmail.com" />
  </appSettings>
</configuration>