<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="NetworkCredentialUserName" value="innovobrian@gmail.com" />
    <add key="NetworkCredentialPassword" value="1qaz2wsx@" />
    <add key="EmailFrom" value="ironfistet@gmail.com" />
    <add key="ReportFilePath" value="H:\Projects\NHSKPI\Reports" />
    <add key="ReminderSubject" value="Reminder Subject" />
    <add key="ReminderBody" value="Reminder body" />
  </appSettings>
 <connectionStrings>
    <add name="NHSKPI" connectionString="Database=NHSKPI;Server=.;Integrated Security=true;Max Pool Size=200;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>