<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="ajaxNet">
      <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="HC" value="BUCKS" />
    <add key="CommentType" value="Comment Type 1,Comment Type 2,Comment Type 3" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="NetworkCredentialUserName" value="timetrackervinit@gmail.com" />
    <add key="NetworkCredentialPassword" value="timetrackervinit@123" />
    <add key="EmailFrom" value="timetrackervinit@gmail.com" />
    <add key="SiteURL" value="http://link1.alliontechnologies.com/Timesheet/login.aspx" />
  </appSettings>
  <ajaxNet>
    <ajaxSettings>
      <urlNamespaceMappings useAssemblyQualifiedName="false" allowListOnly="false">
        <!--
          Set the attribute useAssemblyQualifiedName to true to enable
          use of assemblies placed in the GAC by using the full assembly
          qualified name.
        
          To hide internal knowledge of assemblies, classes and namespace
          you can override the name of the virtual http endpoints.
          
          <add type="Namespace.Class1,Assembly" path="mypath" />
        -->
      </urlNamespaceMappings>
      <jsonConverters>
        <!--
          This section can be used to add new IJavaScriptConverters to the
          Ajax.NET Professional engine. If you want to disable built-in
          converters you can use the remove tag.
      
          <remove type="Namespace.Class1,Assembly"/>
          <add type="Namespace.Class2,Assembly"/>
          
          <add type="AjaxPro.BitmapConverter,AjaxPro.2" mimeType="image/jpeg" quality="100"/>
        -->
      </jsonConverters>
      <!--
        Set the enabled attribute to true to get Stack, TargetSize and Source 
        information if an exception has been thrown.
      -->
      <debug enabled="false" />
      <!--
        This is the default configuration used with Ajax.NET Professional. You
        can put there your static JavaScript files, or remove the path attribute
        to completly disable the files.
      
        <scriptReplacements>
          <file name="prototype" path="~/ajaxpro/prototype.ashx" />
          <file name="core" path="~/ajaxpro/core.ashx" />
          <file name="converter" path="~/ajaxpro/converter.ashx" />
        </scriptReplacements>
      -->
      <!-- <encryption cryptType="" keyType="" /> -->
      <!--
        Set the enabled attribute to true to enable the use of an Ajax.NET Professional
        token. This will send a token to the client that will be used to identify if the
        requests comes from the same PC.
      -->
      <token enabled="false" sitePassword="password" />
      <!--
        The oldStyle section can be used to enable old styled JavaScript code or
        functions that are not used any more.
      
        <oldStyle>
          <objectExtendPrototype/>
          <appCodeQualifiedFullName/>
          <allowNumberBooleanAsString/>
          <sessionStateDefaultNone/>
          <includeMsPrototype/>
          <renderDateTimeAsString/>
          <noUtcTime/>
        </oldStyle>
      -->
    </ajaxSettings>
  </ajaxNet>
  <location path="ajaxpro">
    <system.web>
      <httpHandlers>
        <!--<add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />-->
        <add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" />
      </httpHandlers>
      <!--
        If you need to have Ajax.NET Professional methods running on the
        login page you may have to enable your own authorization configuration
        here.
      -->
    </system.web>
  </location>
  <connectionStrings>
    <!--<add name="NHSKPI" connectionString="Database=NHSKPI002;Server=AT-BRAPP1\SQLEXPRESS;Integrated Security=false;uid=sa;pwd=letmein;" providerName="System.Data.SqlClient" />-->
    <add name="NHSKPI" connectionString="Database=NHSKPI;Server=.\SQLExpress;Integrated Security=false;uid=sa;pwd=1qaz2wsx@;Max Pool Size=200;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="AXD-ISAPI-4.0_64bit" />
      <add name="AXD-ISAPI-4.0_64bit" path="*.axd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
    </handlers>
  </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>