<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HC" value="BUCKS" />
    <add key="CommentType" value="Comment Type 1,Comment Type 2,Comment Type 3" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="NetworkCredentialUserName" value="timetrackervinit@gmail.com" />
    <add key="NetworkCredentialPassword" value="timetrackervinit@123" />
    <add key="EmailFrom" value="timetrackervinit@gmail.com" />
    <add key="SiteURL" value="http://link1.alliontechnologies.com/Timesheet/login.aspx" />
  </appSettings>
</configuration>